<%= provide(:title, @user.email) %>
<h1>
   <%= @user.first_name %> <%= @user.last_name%>
</h1>
<div class="row">
   <div class="span4">
      <center>
         <%= image_tag @user.photo.url %>
         <%= @user.email %>
      </center>
   </div>
   <div class="span8">
      <% if @user.posts.any? %>
         <h3>Posts (<%= @user.posts.count %>)</h3>
         <ul class="posts">
            <%= render @posts %>
         </ul>
         <%= will_paginate @posts %>
      <% end %>
   </div>
</div>
