<% provide(:title, 'Create Post') %>
<h1>New Post</h1>

<div class="row">
   <div class="span6 offset3">
      <%= form_for(@post) do |f| %>
         <%= render 'shared/error_messages', object: f.object %>
         <%= f.label :content %>
         <%= f.text_area :content, size:1000 %>

         <%= f.label :news %>
         <%= f.check_box :news %>

         <%= f.label :blog %>
         <%= f.check_box :blog %>

         <%= f.label :training %>
         <%= f.check_box :training %>

         <%= f.label :nutrition %>
         <%= f.check_box :nutrition %>

         <%= f.label :supplements %>
         <%= f.check_box :supplements %>

         <%= f.submit "Create post", class: "btn btn-large btn-primary" %>
      <% end %>
   </div>
</div>